body{
    background-color: rgb(225, 225, 225);
}


/* Header */
.app-header{
    padding: 30px 0;
    background-color: crimson;
    color: white;
}

.app-header__title{
    text-align: center;
}



/* Main */