body{
    background-color: rgb(225, 225, 225);
}

/* Utility */

.text-crimson{
    color: crimson;
}

.bg-coral{
    background-color: coral;
}

.bg-crimson{
    background-color: crimson;
}

.border-crimson{
    border: 1px solid crimson;
}

/* STYLE */
/* #app{

} */


.title{
    text-align: center;
    padding: 30px;
}

/* Header */

.app-header{
    padding: 30px 0;
    background-color: coral;
    color: white;
}

.app-header__title{
    text-align: center;
}



/* Main */


.films-section{
    height: 100%;
    background-color: rgb(31, 31, 31);
}

/* Footer */

